<section id="new-task-page">
<%= form_for @task, url: create_task_path do |f| %>

  <p>
   <%= f.label :task %>
   <%= f.text_field :task %><span class="warning-triangle"><i style="font-size:44px;" class="fa fa-exclamation-triangle"></i></span>
     <% if @task.errors[:task].any? %>
       <p class="errors" style="display:inline;"><%= @task.errors[:task].first %></p>
     <% end %>
  </p>

  <p>
    <%= f.label :due_date %>
    <%= f.text_field :due_date, value: "mm/dd/yyyy", class: "select-date" %><span class="warning-triangle"><i style="font-size:44px;" class="fa fa-exclamation-triangle"></i></span>
      <% if @task.errors[:due_date].any? %>
        <p class="errors" style="display:inline;"><%= @task.errors[:due_date].first %></p>
      <% end %>
  </p>

  <p>
    <%= f.label :user_join, "Assign Task" %>
    <%= select_tag(:user_join, options_for_select(@task.each_user, session[:user_id])) %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <p>
    <%= submit_tag "Clear", type: 'button', class: "clear-button" %>
  </p>
<% end %>
</section>