<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<h1>My Lists</h1><%= link_to 'Add Task List', task_lists_new_path %>

<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1><%= task_list.name %>  |  <%= link_to 'Edit', edit_task_list_path(task_list) %>  |  <%= link_to '+ Add Task', new_task_path(task_list) %></h1>
  </section>

  <section>
    <ul>
      <% @tasks.each do |task| %>
        <% if task_list.id == task.task_list_id %>
          <li><%= task.task %></li>
        <% end %>
      <% end %>
    </ul>
  </section>

<% end %>
