<h2><%= @task_list.name %></h2><%= link_to 'Completed Tasks', completed_tasks_list_path(@task_list) %><div class="right"><%= link_to '+ Add Task', new_task_path(@task_list), class: "button-link" %></div>
<ul>
  <% @task.each do |task| %>
    <% unless task.completed %>
      <li><%= task.task %> (<%= task.days_left %> days) - <%= @task.name %> <div class="right"><%= link_to "Delete", destroy_task_path(@task_list,task.id), method: :delete, class:"button-link" %> <%= link_to "Completed!", completed_task_path(@task_list,task.id), class:"button-link" %></div></li>
    <% end %>
  <% end %>

</ul>